body {
  font-family: "DM Sans", serif;
  font-style: normal;
  letter-spacing: -0.01em;
  background-color: #080808;
  color: #efece6;
  margin: 0 auto;
  background-image: url("../../public/layer.svg"), url("../../public/layer.svg"),
    url("../../public/layer-one.svg"), url("../../public/layer-two.svg"),
    url("../../public/layer-one.svg");
  background-repeat: no-repeat;
  background-position: -200px 1000px, -200px 2650px, 100% 2750px, 0 5200px,
    100% 6400px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 64px 20px;
}

/*<----------744px--------->*/

@media screen and (min-width: 744px) {
  .container {
    max-width: 744px;
    padding: 96px 48px;
  }

  body {
    background-position: -200px 1200px, -200px 2650px, 100% 3050px, 0 5600px,
      100% 7100px;
  }
}

/*<----------1440px--------->*/

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 80px 96px;
  }

  body {
    background-position: -200px 1200px, -200px 2250px, 100% 3050px, 0 4500px,
      100% 5400px;
  }
}
