<section class="benefits container" id="benefits">
  <link rel="stylesheet" href="./src/styles/benefits.css" />
  <div class="benefits-wrapper">
    <div class="benef-title-wrapper">
      <h2 class="benefits-title">
        Discover the Power of <span class="benef-title-span">SmartNotes</span>
      </h2>
      <p class="benef-par">
        SmartNotes is packed with innovative features designed to revolutionize
        the way you take notes, collaborate with others, and stay organized.
      </p>
    </div>
    <ul class="benef-list">
      <li class="benef-item">
        <div class="benef-icon">
          <svg
            width="23"
            height="20"
            viewBox="0 0 23 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.68858 7.9031H4.7128V20H1.68858C1.13185 20 0.680511 19.5487 0.680511 18.9919V8.91117C0.680511 8.35443 1.13185 7.9031 1.68858 7.9031ZM7.0242 6.59977L13.4764 0.147635C13.6537 -0.0297351 13.9345 -0.0496848 14.1352 0.10081L14.9946 0.745412C15.4832 1.11187 15.7034 1.73628 15.5527 2.32815L14.3901 6.89503H20.842C21.9555 6.89503 22.8581 7.79769 22.8581 8.91117V11.0325C22.8581 11.2959 22.8065 11.5567 22.7063 11.8001L19.5869 19.3757C19.4314 19.7534 19.0632 20 18.6547 20H7.73702C7.18028 20 6.72895 19.5487 6.72895 18.9919V7.31259C6.72895 7.04523 6.83516 6.78883 7.0242 6.59977Z"
              fill="url(#paint0_linear_4111_295)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_4111_295"
                x1="22.8581"
                y1="0"
                x2="-6.35006"
                y2="23.4744"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h3 class="benef-item-ttl">Cross-Platform Accessibility</h3>
        <p class="benef-item-par">
          Whether you're on your desktop, tablet, or smartphone, SmartNotes is
          accessible across all devices. Work seamlessly on the go and never
          miss a beat.
        </p>
      </li>
      <li class="benef-item">
        <div class="benef-icon">
          <svg
            width="18px"
            height="18px"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 11.0121H5.5051C5.68498 14.3203 6.74136 17.3934 8.44436 20C3.95783 19.2978 0.453016 15.607 0 11.0121ZM0 8.98798C0.453016 4.39297 3.95783 0.7021 8.44436 0C6.74136 2.60658 5.68498 5.67972 5.5051 8.98798H0ZM20 8.98798H14.4948C14.3149 5.67972 13.2586 2.60658 11.5556 0C16.0422 0.7021 19.547 4.39297 20 8.98798ZM20 11.0121C19.547 15.607 16.0422 19.2978 11.5556 20C13.2586 17.3934 14.3149 14.3203 14.4948 11.0121H20ZM7.51847 11.0121H12.4815C12.309 13.8284 11.4217 16.45 9.99994 18.6951C8.57822 16.45 7.69093 13.8284 7.51847 11.0121ZM7.51847 8.98798C7.69093 6.17157 8.57822 3.54997 9.99994 1.30493C11.4217 3.54997 12.309 6.17157 12.4815 8.98798H7.51847Z"
              fill="url(#paint0_linear_4111_1665)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_4111_1665"
                x1="20"
                y1="0"
                x2="-8.42317"
                y2="20.6005"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h3 class="benef-item-ttl">Customizable Templates</h3>
        <p class="benef-item-par">
          Create custom templates for your recurring tasks or projects to save
          time and ensure consistency. Tailor SmartNotes to fit your unique
          workflow and preferences.
        </p>
      </li>
      <li class="benef-item">
        <div class="benef-icon">
          <svg
            width="18px"
            height="18px"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 0H17.5416C17.7948 0 18 0.212078 18 0.473684C18 0.556115 17.9791 0.637124 17.9395 0.708698L14.6651 6.63158L17.9395 12.5544C18.0651 12.7816 17.9887 13.0709 17.769 13.2007C17.6997 13.2417 17.6214 13.2632 17.5416 13.2632H1.83313V18H0V0Z"
              fill="url(#paint0_linear_4111_1671)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_4111_1671"
                x1="18"
                y1="0"
                x2="-7.58085"
                y2="18.5405"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h3 class="benef-item-ttl">Secure Cloud Storage</h3>
        <p class="benef-item-par">
          Rest easy knowing that your notes are securely stored in the cloud.
          Access your information from any device, anytime, without worrying
          about losing important data.
        </p>
      </li>
      <li class="benef-item">
        <div class="benef-icon">
          <svg
            width="18px"
            height="18px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.7697 1.11676V4.20108L11.9432 8.02756H11.855L8.02856 4.20108V1.11561C9.23801 0.681538 10.5402 0.444458 11.8986 0.444458C13.2569 0.444458 14.5603 0.681537 15.7697 1.11676Z"
              fill="url(#paint0_linear_4111_1679)"
            />
            <path
              d="M15.7697 19.5963V22.6806C14.5603 23.1159 13.2569 23.3529 11.8986 23.3529C10.5402 23.3529 9.23801 23.117 8.02856 22.6818V19.5963L11.855 15.7698H11.9432L15.7697 19.5963Z"
              fill="url(#paint1_linear_4111_1679)"
            />
            <path
              d="M21.6818 5.94196L19.5962 8.02758H15.7686V4.20109L17.8542 2.11548C19.4141 3.06609 20.7289 4.3809 21.6818 5.94196Z"
              fill="url(#paint2_linear_4111_1679)"
            />
            <path
              d="M8.0275 15.7698V19.5963L5.94074 21.6831C4.38083 20.7302 3.06601 19.4154 2.11426 17.8554L4.19987 15.7698H8.0275Z"
              fill="url(#paint3_linear_4111_1679)"
            />
            <path
              d="M21.6818 17.8554C20.73 19.4154 19.4152 20.7302 17.8553 21.6831L15.7686 19.5963V15.7698H19.5962L21.6818 17.8554Z"
              fill="url(#paint4_linear_4111_1679)"
            />
            <path
              d="M8.0275 4.20109V8.02758H4.19987L2.11426 5.94196C3.06716 4.3809 4.38197 3.06609 5.94189 2.11548L8.0275 4.20109Z"
              fill="url(#paint5_linear_4111_1679)"
            />
            <path
              d="M23.3517 11.8987C23.3517 13.2571 23.1146 14.5604 22.6794 15.7699H19.5962L15.7686 11.9423V11.8552L19.5962 8.02759H22.6794C23.1146 9.23704 23.3517 10.5404 23.3517 11.8987Z"
              fill="url(#paint6_linear_4111_1679)"
            />
            <path
              d="M8.02744 11.8552V11.9423L4.19981 15.7699H1.11663C0.681415 14.5604 0.444336 13.2571 0.444336 11.8987C0.444336 10.5404 0.681415 9.23704 1.11663 8.02759H4.19981L8.02744 11.8552Z"
              fill="url(#paint7_linear_4111_1679)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_4111_1679"
                x1="15.7697"
                y1="0.444458"
                x2="4.92561"
                y2="8.46786"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
              <linearGradient
                id="paint1_linear_4111_1679"
                x1="15.7697"
                y1="15.7698"
                x2="4.92561"
                y2="23.7932"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
              <linearGradient
                id="paint2_linear_4111_1679"
                x1="21.6818"
                y1="2.11548"
                x2="13.2793"
                y2="8.20664"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
              <linearGradient
                id="paint3_linear_4111_1679"
                x1="8.0275"
                y1="15.7698"
                x2="-0.376153"
                y2="21.8606"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
              <linearGradient
                id="paint4_linear_4111_1679"
                x1="21.6818"
                y1="15.7698"
                x2="13.2781"
                y2="21.8606"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
              <linearGradient
                id="paint5_linear_4111_1679"
                x1="8.0275"
                y1="2.11548"
                x2="-0.375033"
                y2="8.20664"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
              <linearGradient
                id="paint6_linear_4111_1679"
                x1="23.3517"
                y1="8.02759"
                x2="12.4217"
                y2="15.7865"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
              <linearGradient
                id="paint7_linear_4111_1679"
                x1="8.02744"
                y1="8.02759"
                x2="-2.90257"
                y2="15.7865"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h3 class="benef-item-ttl">Real-Time Collaboration</h3>
        <p class="benef-item-par">
          Collaborate seamlessly with your team members or classmates in
          real-time on shared notes and projects.
        </p>
      </li>
      <li class="benef-item">
        <div class="benef-icon">
          <svg
            width="18px"
            height="18px"
            viewBox="0 0 18 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.25731 12.2222L4.73029 7.77778H0V5.55556H4.96677L5.55798 0H7.82032L7.22914 5.55556H11.7168L12.308 0H14.5703L13.9791 5.55556H18V7.77778H13.7427L13.2697 12.2222H18V14.4444H13.0332L12.442 20H10.1797L10.7709 14.4444H6.28323L5.69202 20H3.42962L4.02083 14.4444H0V12.2222H4.25731ZM6.51971 12.2222H11.0073L11.4803 7.77778H6.99266L6.51971 12.2222Z"
              fill="url(#paint0_linear_4111_1693)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_4111_1693"
                x1="18"
                y1="0"
                x2="-9.37193"
                y2="17.8547"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h3 class="benef-item-ttl">AI-Powered Organization</h3>
        <p class="benef-item-par">
          Our AI-powered organization feature categorizes and prioritizes your
          notes, making it easy to find what you need when you need it.
        </p>
      </li>
      <li class="benef-item">
        <div class="benef-icon">
          <svg
            width="18px"
            height="18px"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.10508 12.2101C5.21506 12.6501 6 13.7334 6 15C6 16.6569 4.65685 18 3 18C1.34315 18 0 16.6569 0 15C0 13.6938 0.83481 12.5825 2 12.1707V5.82929C0.83481 5.41746 0 4.30622 0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3C6 4.30622 5.16519 5.41746 4 5.82929V8.9996C4.83566 8.3719 5.87439 8 7 8H11C12.3835 8 13.5482 7.0635 13.8949 5.78991C12.7849 5.34988 12 4.26661 12 3C12 1.34315 13.3431 0 15 0C16.6569 0 18 1.34315 18 3C18 4.3332 17.1303 5.46329 15.9274 5.85392C15.5222 8.2085 13.4703 10 11 10H7C5.61653 10 4.45179 10.9365 4.10508 12.2101Z"
              fill="url(#paint0_linear_4111_1699)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_4111_1699"
                x1="18"
                y1="0"
                x2="-7.58085"
                y2="18.5405"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#AAD9D1" />
                <stop offset="1" stop-color="#017373" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h3 class="benef-item-ttl">Integrations</h3>
        <p class="benef-item-par">
          Connect SmartNotes with your favorite productivity tools like Google
          Drive, Trello, and Slack. Streamline your workflow by syncing data
          across platforms and enhancing collaboration.c
        </p>
      </li>
    </ul>
  </div>
</section>
