<header class="header">
  <link rel="stylesheet" href="/src/styles/header.css">
  <div class="header-container">
    <a class="logo-wrapper"
      href="/index.html"
      tabindex="0"
      aria-label="Homepage">
      <div class="logo-container">
        <svg class="logo-icon" width="25px" height="25px">
          <use href="/public/img/icons.svg#icon-logo-icon"></use>
        </svg>
      </div>
      <p class="logo-text">SmartNotes</p>
    </a>
    <nav class="nav-menu">
      <a class="menu-item" href="#benefits">Features</a>
      <a class="menu-item" href="#pricing">Pricing</a>
      <a class="menu-item" href="#faq">FAQ</a>
    </nav>
    <button class="get-started-bnt">Get started
      <svg class="get-started-icon">
        <use href="/public/img/icons.svg#icon-arrow-icon" width="24px" height="24px"></use>
      </svg>
    </button>
    <button class="burger-btn">
      <svg class="burger-icon" width="32px" height="18px">
        <use href="public/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>


<!-- Mobile menu -->


  <div class="mobile-menu">
    <div class="mob-menu-top">
      <a class="logo-wrapper"
      href="./index.html"
      tabindex="0"
      aria-label="Homepage">
      <div class="logo-container">
        <svg class="logo-icon" width="25px" height="25px">
          <use href="/public/img/icons.svg#icon-logo-icon"></use>
        </svg>
      </div>
      <p class="logo-text">SmartNotes</p>
    </a>
    <button class="close-btn">
      <svg class="close-icon">
        <use href="/public/img/icons.svg#icon-close-btn-icon" width="24px" height="24px"></use>
      </svg>
    </button>
    </div>
    <div class="mob-menu-bottom">
      <nav class="mob-menu-list">
        <a class="mob-menu-item" href="#benefits">Features</a>
        <a class="mob-menu-item" href="#pricing">Pricing</a>
        <a class="mob-menu-item" href="#faq">FAQs</a>
        <a class="mob-menu-item" href="#signup">Support</a>
      </nav>
      <div class="mob-socials-list">
          <a class="mob-socials-item" href="https://facebook.com/">
            <svg class="mob-socials-icon">
              <use href="/public/img/icons.svg#icon-facebook-icon" width="20px" height="20px"></use>
            </svg>
          </a>
          <a class="mob-socials-item" href="https://linkedin.com/">
            <svg class="mob-socials-icon">
              <use href="/public/img/icons.svg#icon-linkedin-icon" width="20px" height="20px"></use>
            </svg>
          </a>
          <a class="mob-socials-item" href="https://twitter.com/">
            <svg class="mob-socials-icon">
              <use href="/public/img/icons.svg#icon-twitter-icon" width="20px" height="20px"></use>
            </svg>
          </a>
          <a class="mob-socials-item" href="https://youtube.com/">
            <svg class="mob-socials-icon">
              <use href="/public/img/icons.svg#icon-youtube-icon" width="20px" height="20px"></use>
            </svg>
          </a>
      </div>
    </div>
  </div>

</header>
