<section class="pricing container" id="pricing">
  <link rel="stylesheet" href="./src/styles/pricing.css" />
  <div class="pricing-wrapper">
    <div class="pricing-title-wrapper">
      <h2 class="pricing-title">
        <span class="pricing-title-span">Pricing</span> & Plans
      </h2>
      <p class="pricing-par">
        With lots of unique blocks, you can easily build a page without coding.
        Build your next landing page.
      </p>
    </div>
    <div class="pricing-slider-wrapper">
      <p class="monthly">Monthly</p>
      <label class="switch">
        <input type="checkbox" id="slider" />
        <span class="slider"></span>
      </label>
      <p class="yearly">Yearly</p>
      <div class="save">Save 25%</div>
    </div>
    <ul class="pricing-list">
      <li class="pricing-item-one">
        <div class="pricing-item-top">
          <div class="pr-item-ttl-div">
            <div class="pr-item-icon">
              <svg
                width="18px"
                height="18px"
                viewBox="0 0 21 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.2364 17.4417C11.7428 16.0342 12.5597 14.7099 13.6863 13.5772L13.7068 13.5566C14.8351 12.4283 16.1531 11.6095 17.5553 11.0986C18.4286 10.781 19.3341 10.5823 20.2458 10.5045C19.3368 10.4544 18.4339 10.2835 17.5633 9.99358C16.1021 9.50862 14.7331 8.68632 13.5735 7.52669C12.4148 6.36796 11.5916 4.99716 11.1066 3.53689C10.7952 2.60096 10.6225 1.62744 10.5876 0.64856L10.5501 0.68614C10.483 1.65787 10.2798 2.62243 9.94162 3.55031C9.43249 4.94616 8.61556 6.25969 7.49352 7.38532L7.48546 7.39337C6.36431 8.51452 5.05436 9.33145 3.6612 9.84237C2.72705 10.1851 1.75622 10.39 0.778234 10.458L0.766602 10.4696C1.7437 10.5045 2.71453 10.6772 3.64867 10.9868C5.11073 11.4726 6.48332 12.2949 7.64384 13.4564C8.80526 14.6178 9.62666 15.9886 10.1125 17.4515C10.423 18.3857 10.5957 19.3565 10.6306 20.3336L10.6369 20.3273C10.6986 19.3493 10.8981 18.3767 11.2346 17.4408L11.2364 17.4417Z"
                  fill="url(#paint0_linear_4111_1768)"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_4111_1768"
                    x1="20.2458"
                    y1="0.64856"
                    x2="-7.63698"
                    y2="20.6462"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <h3 class="pr-item-ttl">Individual Plan</h3>
          </div>
          <p class="pricing-price-one">
            <span class="pricing-price-span-one">$9.99</span>/ month
          </p>
          <ul class="pricing-pros-list">
            <li class="pricing-pros-item-one">Real-time collaboration</li>
            <li class="pricing-pros-item-one">AI-powered organization</li>
            <li class="pricing-pros-item-one">Customizable templates</li>
            <li class="pricing-pros-item-one">5GB cloud storage</li>
            <li class="pricing-pros-item-one">Basic integrations</li>
          </ul>
          <button class="pricing-start-btn-one">
            Start Free Trial
            <svg class="hero-signup-icon-one">
              <use
                href="./public/img/icons.svg#icon-arrow-icon"
                width="24px"
                height="24px"
              ></use>
            </svg>
          </button>
        </div>
        <p class="no-card-par">No credit card required</p>
      </li>
      <li class="pricing-item-two">
        <div class="pricing-item-top">
          <div class="pr-item-ttl-div">
            <div class="pr-item-icon">
              <svg
                width="18px"
                height="18px"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.5373 4.45445V9.49293C13.8586 9.44729 10.0459 5.7814 9.76855 1.16079V0.30896H14.552C14.5511 0.332224 14.5511 0.355488 14.5511 0.378752C14.5511 2.60048 16.3273 4.40703 18.5373 4.45445Z"
                  fill="url(#paint0_linear_4111_1801)"
                />
                <path
                  d="M9.05273 0.665975C9.05273 5.4727 5.23293 9.38555 0.462891 9.53677V4.49293C2.58082 4.34618 4.25315 2.58169 4.25315 0.426175C4.25315 0.386805 4.25226 0.34833 4.25137 0.30896H9.04467C9.05004 0.42707 9.05273 0.546075 9.05273 0.665975Z"
                  fill="url(#paint1_linear_4111_1801)"
                />
                <path
                  d="M8.99188 18.3834H4.19231C3.9543 16.4748 2.39739 14.9761 0.462891 14.8284V10.2633C4.96898 10.419 8.62055 13.9346 8.99188 18.3834Z"
                  fill="url(#paint2_linear_4111_1801)"
                />
                <path
                  d="M18.5373 10.2883V14.8481C16.5169 14.9 14.8633 16.4211 14.6039 18.3834H9.80249C10.1944 13.8817 13.9471 10.342 18.5373 10.2883Z"
                  fill="url(#paint3_linear_4111_1801)"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_4111_1801"
                    x1="18.5373"
                    y1="0.30896"
                    x2="5.68434"
                    y2="9.20342"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_4111_1801"
                    x1="9.05273"
                    y1="0.30896"
                    x2="-3.74306"
                    y2="8.9419"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_4111_1801"
                    x1="8.99188"
                    y1="10.2633"
                    x2="-2.71295"
                    y2="19.1739"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_4111_1801"
                    x1="18.5373"
                    y1="10.2883"
                    x2="6.78858"
                    y2="19.4765"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <h3 class="pr-item-ttl">Team Plan</h3>
          </div>
          <p class="pricing-price-two">
            <span class="pricing-price-span-two">$19.99</span>/ month
          </p>
          <ul class="pricing-pros-list">
            <li class="pricing-pros-item-two">
              Everything in the Individual Plan
            </li>
            <li class="pricing-pros-item-two">Unlimited cloud storage</li>
            <li class="pricing-pros-item-two">Advanced integrations</li>
            <li class="pricing-pros-item-two">
              Team management and permissions
            </li>
            <li class="pricing-pros-item-two">
              Shared templates and note libraries
            </li>
          </ul>
          <button class="pricing-start-btn-two">
            Start Free Trial
            <svg class="hero-signup-icon">
              <use
                href="./public/img/icons.svg#icon-arrow-icon"
                width="24px"
                height="24px"
              ></use>
            </svg>
          </button>
        </div>
        <p class="no-card-par">No credit card required</p>
      </li>
      <li class="pricing-item-one">
        <div class="pricing-item-top">
          <div class="pr-item-ttl-div">
            <div class="pr-item-icon">
              <svg
                width="18px"
                height="18px"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.4478 9.15927V9.16374H15.648V9.09216C15.648 5.76449 12.9503 3.06675 9.62349 3.06675C9.58769 3.06675 9.5519 3.06675 9.51611 3.06764V0.244629C14.4392 0.253577 18.4299 4.23801 18.4478 9.15927Z"
                  fill="url(#paint0_linear_4111_1838)"
                />
                <path
                  d="M18.446 9.04834C18.446 8.99287 18.4433 8.93829 18.4424 8.88281C18.4442 8.93829 18.4451 8.99287 18.446 9.04834Z"
                  fill="url(#paint1_linear_4111_1838)"
                />
                <path
                  d="M18.4407 8.838C18.4389 8.7709 18.4335 8.70468 18.4299 8.63757C18.4299 8.64742 18.4317 8.65636 18.4317 8.66621C18.4362 8.72347 18.4389 8.78074 18.4407 8.838Z"
                  fill="url(#paint2_linear_4111_1838)"
                />
                <path
                  d="M18.4038 8.31018C18.4038 8.31018 18.4038 8.30839 18.4038 8.3075C18.4056 8.33076 18.4092 8.35492 18.411 8.37818C18.4101 8.36387 18.4083 8.35044 18.4065 8.33702C18.4056 8.32808 18.4047 8.31913 18.4038 8.31018Z"
                  fill="url(#paint3_linear_4111_1838)"
                />
                <path
                  d="M18.4039 8.30748C18.4003 8.26632 18.3949 8.22606 18.3914 8.18579C18.394 8.20369 18.3958 8.22069 18.3985 8.23858C18.4012 8.26185 18.403 8.28422 18.4048 8.30748H18.4039Z"
                  fill="url(#paint4_linear_4111_1838)"
                />
                <path
                  d="M18.412 8.39249C18.412 8.38712 18.4111 8.38265 18.4111 8.37817C18.4138 8.39696 18.4156 8.41575 18.4165 8.43454C18.4174 8.44618 18.4183 8.45691 18.4183 8.46855C18.4165 8.44349 18.4147 8.41754 18.412 8.39249Z"
                  fill="url(#paint5_linear_4111_1838)"
                />
                <path
                  d="M18.3413 7.80907C18.3404 7.80281 18.3395 7.79655 18.3386 7.79028C18.3386 7.79476 18.3404 7.79923 18.3404 7.80281C18.3404 7.8046 18.3404 7.80639 18.3404 7.80907H18.3413Z"
                  fill="url(#paint6_linear_4111_1838)"
                />
                <path
                  d="M18.3413 7.81177C18.3413 7.81177 18.3413 7.80998 18.3413 7.80908C18.3503 7.86993 18.361 7.93077 18.3682 7.99251V7.99609C18.3592 7.93435 18.3512 7.87351 18.3413 7.81177Z"
                  fill="url(#paint7_linear_4111_1838)"
                />
                <path
                  d="M18.4478 9.15929C18.4478 9.12171 18.4469 9.08503 18.446 9.04834C18.446 9.07429 18.4478 9.09934 18.4478 9.12529V9.15929Z"
                  fill="url(#paint8_linear_4111_1838)"
                />
                <path
                  d="M18.4478 18.1114V18.1401H15.6471C15.648 18.1195 15.648 18.0989 15.648 18.0783C15.648 17.3545 15.5201 16.6601 15.2856 16.0168C15.2803 15.9998 15.274 15.9828 15.2668 15.9658C14.9286 15.0603 14.3774 14.2576 13.675 13.6188C13.6625 13.6071 13.65 13.5964 13.6374 13.5857C12.5718 12.6327 11.1652 12.0529 9.62349 12.0529C9.58769 12.0529 9.5519 12.0529 9.51611 12.0538V9.1637C11.6985 9.16728 13.6974 9.95289 15.248 11.2548C15.2543 11.2593 15.2606 11.2646 15.2668 11.2709C16.0515 11.9321 16.7208 12.7267 17.2389 13.6188C17.2461 13.6295 17.2523 13.6403 17.2586 13.6519C18.0156 14.9645 18.4478 16.4874 18.4478 18.1114Z"
                  fill="url(#paint9_linear_4111_1838)"
                />
                <path
                  d="M9.49999 9.15927V9.16374H6.70024V9.12527C6.70024 7.58088 6.11864 6.1734 5.16391 5.10683C5.15407 5.0952 5.14423 5.08446 5.13439 5.07373C4.4642 4.33643 3.61327 3.76646 2.65228 3.4336C2.63797 3.42734 2.62365 3.42287 2.60844 3.4175C2.00178 3.2126 1.35217 3.10075 0.675725 3.10075C0.634565 3.10075 0.593406 3.10075 0.552246 3.10254V0.244629H1.31907C2.6496 0.356476 3.89691 0.760914 4.99749 1.39262C5.01717 1.40336 5.03596 1.4141 5.05475 1.42573C5.97189 1.96081 6.78524 2.65426 7.45812 3.4685C7.47154 3.4855 7.48496 3.5025 7.49928 3.5195C8.75017 5.05762 9.49999 7.02076 9.49999 9.15927Z"
                  fill="url(#paint10_linear_4111_1838)"
                />
                <path
                  d="M9.51618 15.1828V18.073H9.50007C7.88232 18.073 6.36389 17.6435 5.05483 16.8919C4.65755 16.6646 4.27906 16.4069 3.92294 16.1224C3.44156 15.7385 3.00133 15.3063 2.60941 14.833C2.29445 14.4536 2.00992 14.0474 1.76117 13.6188C0.997926 12.3088 0.559486 10.7877 0.553223 9.1637H3.59814C3.59814 9.84641 3.71267 10.5032 3.92294 11.1143C4.1869 11.8847 4.60208 12.5844 5.13447 13.1777C5.27226 13.3316 5.41811 13.4792 5.57112 13.6188C6.12856 14.1243 6.78085 14.5279 7.49936 14.7981C8.12838 15.0361 8.80752 15.1703 9.51618 15.1828Z"
                  fill="url(#paint11_linear_4111_1838)"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_4111_1838"
                    x1="18.4478"
                    y1="0.244629"
                    x2="5.76675"
                    y2="9.44846"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_4111_1838"
                    x1="18.446"
                    y1="8.88281"
                    x2="18.4382"
                    y2="8.88293"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_4111_1838"
                    x1="18.4407"
                    y1="8.63757"
                    x2="18.4174"
                    y2="8.63848"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_4111_1838"
                    x1="18.411"
                    y1="8.3075"
                    x2="18.3955"
                    y2="8.30863"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint4_linear_4111_1838"
                    x1="18.4048"
                    y1="8.18579"
                    x2="18.3759"
                    y2="8.1881"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint5_linear_4111_1838"
                    x1="18.4183"
                    y1="8.37817"
                    x2="18.4028"
                    y2="8.37906"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint6_linear_4111_1838"
                    x1="18.3413"
                    y1="7.79028"
                    x2="18.3356"
                    y2="7.79088"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint7_linear_4111_1838"
                    x1="18.3682"
                    y1="7.80908"
                    x2="18.3106"
                    y2="7.81507"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint8_linear_4111_1838"
                    x1="18.4478"
                    y1="9.04834"
                    x2="18.444"
                    y2="9.04839"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint9_linear_4111_1838"
                    x1="18.4478"
                    y1="9.1637"
                    x2="5.71086"
                    y2="18.3491"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint10_linear_4111_1838"
                    x1="9.49999"
                    y1="0.244629"
                    x2="-3.18807"
                    y2="9.47019"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                  <linearGradient
                    id="paint11_linear_4111_1838"
                    x1="9.51618"
                    y1="9.1637"
                    x2="-3.16879"
                    y2="18.4129"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#AAD9D1" />
                    <stop offset="1" stop-color="#017373" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <h3 class="pr-item-ttl">Enterprise Plan</h3>
          </div>
          <p class="pricing-price-span-one">Custom</p>
          <ul class="pricing-pros-list">
            <li class="pricing-pros-item-one">Everything in the Team Plan</li>
            <li class="pricing-pros-item-one">Dedicated account manager</li>
            <li class="pricing-pros-item-one">Enterprise-grade security</li>
            <li class="pricing-pros-item-one">Customized onboarding</li>
            <li class="pricing-pros-item-one">Advanced analytics</li>
          </ul>
          <button class="pricing-start-btn-one">
            Contact Support
            <svg class="hero-signup-icon-one">
              <use
                href="./public/img/icons.svg#icon-arrow-icon"
                width="24px"
                height="24px"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
