<section class="quote container">
    <link rel="stylesheet" href="./src/styles/quote.css">
    <div class="quote-wrapper">
        <svg class="quote-icon" width="37px" height="24px">
            <use href="./public/img/quote.svg#quote-icon"></use>
        </svg>
        <h2 class="quote-text">The real-time synchronization and AI-powered organization have made our workflow more efficient than ever.</h2>
        <div class="quote-author-wrapper">
            <p class="quote-author-item">Sarah Johnson</p>
            <p class="quote-author-item">TechSavvy Solutions</p>
        </div>
    </div>
</section>